[submodule "astro"]
	path = astro
	url = https://github.com/JorgeLuisOZ/astro.git
[submodule "django"]
	path = django
	url = https://github.com/JorgeLuisOZ/django.git
[submodule "next"]
	path = next
	url = https://github.com/JorgeLuisOZ/next.git
[submodule "angular"]
	path = angular
	url = https://github.com/JorgeLuisOZ/angular.git
[submodule "express"]
	path = express
	url = https://github.com/JorgeLuisOZ/express.git
